{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>OralHub</h1>
            <p class="lead">
                专注于自闭症儿童的口腔问题
            </p>
            <p>
                守护中国儿童灿烂的微笑
            </p>
            <p>
                基于儿童口腔问题的智慧诊疗平台
            </p>
            <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> {{ _gettext('Back') }}</a>
        </div>
    </div>
</div>
{% endblock body %}
